<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Records</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="header">
        <div>
            <h2>Flight Records</h2>
        </div>
        <div class="buttonAdd">
            <form action="/add" method="GET">
                <button>Add Record +</button>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <table>
            <%if (userFlight.length == 0){%><h3>No Records found</h3><% } else{%>
            <tr>
                <th>Passenger</th>
                <th>Trip Type</th>
                <th>Origin</th>
                <th>destination</th>
            </tr>
            <%for(let i=0; i<userFlight.length; i++){%> 
            <tr>
                <td><p><%= userFlight[i].first_name + " " + userFlight[i].last_name %></p></td>
                <td><p><%= userFlight[i].trip_type %></p></td>
                <td><p><%= userFlight[i].origin %></p></td>
                <td>
                    <div>
                        <p><%= userFlight[i].destination %></p>
                        <button class="buttonDelete" value='<%= userFlight[i]._id%>' id="delete">X</button>
                    </div>
                </td>
            </tr>
        <% }} %>       
        </table>
    </div> 
    <script src="/main.js">
    </script>
</body>
</html> 